repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.2
    hooks:
      - id: ruff
        name: ruff lint
        args: ["--select", "I", "--fix"]
        files: ^src/vaspparser/
      - id: ruff-format
        name: ruff format